{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Create User</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert {{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <h2>Create User</h2>

    <form method="POST">
        {% csrf_token %}
        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>

        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>

        <button type="submit">Create User</button>
    </form>

    <p><a href="{% url 'dashboard' %}">Back to Dashboard</a></p>
</body>
<script src="{% static 'js/messages.js' %}"></script>
</html>
