{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Create User</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>Create Permission</h2>
{% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
<form method="POST">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Permission name" required><br><br>
    <br>
    <button type="submit">Create Permission</button>
</form>
</body>
<script src="{% static 'js/messages.js' %}"></script>
</html>
